# Import the libraries

In [2]:
import tabula as tb
import pandas as pd

# Converting Pdf to CSV

In [3]:
data = tb.read_pdf("hdfc.pdf", pages="all", encoding='ISO-8859-1', stream=True, area=[2989.875, 1000.75,790.75, 961], guess=False)
df = tb.convert_into("hdfc.pdf", "Generatehdfc1.csv", pages="all", output_format="csv")

# Reading CSV file

In [4]:
df = pd.read_csv("Generatehdfc1.csv")
df.head(50)
df

,Date,Narration,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
0,01/02/22,ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD,0000000000004010,01/02/22,"10,000.00",NaN,"602,066.50"
1,02/02/22,RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N,HDFCR52022020294,02/02/22,"200,000.00",NaN,"402,066.50"
2,NaN,"ETBANK, MUM-HDFCR52022020294165454-FOR O",165454,NaN,NaN,NaN,NaN
3,NaN,JS,NaN,NaN,NaN,NaN,NaN
4,02/02/22,NEFT CR-UTIB0000245-BPR000307051007 DISB,AXTB220332807357,02/02/22,NaN,"973,415.00","1,375,481.50"
...,...,...,...,...,...,...,...
107,NaN,"612,066.50",45,6,"8,312,802.00 8,495,290.00","794,554.50",NaN
108,NaN,Generated On: 22-Feb-2022 14:58,Generated By:,NaN,Requesting Branch Code: NET,NaN,NaN
109,NaN,NaN,135588024,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,This is a computer generated statement and does,NaN,NaN
111,NaN,NaN,NaN,NaN,not require signature.,NaN,NaN

# Rename the columns

In [5]:
df1 = df.drop_duplicates()
df.shape
df.rename(columns={"Deposit Amt.":"Credit", "Withdrawal Amt.":"Debit"}, inplace=True)
df

,Date,Narration,Chq./Ref.No.,Value Dt,Debit,Credit,Closing Balance
0,01/02/22,ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD,0000000000004010,01/02/22,"10,000.00",NaN,"602,066.50"
1,02/02/22,RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N,HDFCR52022020294,02/02/22,"200,000.00",NaN,"402,066.50"
2,NaN,"ETBANK, MUM-HDFCR52022020294165454-FOR O",165454,NaN,NaN,NaN,NaN
3,NaN,JS,NaN,NaN,NaN,NaN,NaN
4,02/02/22,NEFT CR-UTIB0000245-BPR000307051007 DISB,AXTB220332807357,02/02/22,NaN,"973,415.00","1,375,481.50"
...,...,...,...,...,...,...,...
107,NaN,"612,066.50",45,6,"8,312,802.00 8,495,290.00","794,554.50",NaN
108,NaN,Generated On: 22-Feb-2022 14:58,Generated By:,NaN,Requesting Branch Code: NET,NaN,NaN
109,NaN,NaN,135588024,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,This is a computer generated statement and does,NaN,NaN
111,NaN,NaN,NaN,NaN,not require signature.,NaN,NaN

In [6]:
df.isnull().sum()

Date               61
Narration           3
Chq./Ref.No.       50
Value Dt           59
Debit              62
Credit             99
Closing Balance    66
dtype: int64

In [7]:
df3 = df.fillna(0)

# Removing unwanted columns

In [8]:
df4 = df3.drop(['Chq./Ref.No.','Value Dt','Closing Balance'], axis=1)
# we can use del function also to delete columns
df4

,Date,Narration,Debit,Credit
0,01/02/22,ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD,"10,000.00",0
1,02/02/22,RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N,"200,000.00",0
2,0,"ETBANK, MUM-HDFCR52022020294165454-FOR O",0,0
3,0,JS,0,0
4,02/02/22,NEFT CR-UTIB0000245-BPR000307051007 DISB,0,"973,415.00"
...,...,...,...,...
107,0,"612,066.50","8,312,802.00 8,495,290.00","794,554.50"
108,0,Generated On: 22-Feb-2022 14:58,Requesting Branch Code: NET,0
109,0,0,0,0
110,0,0,This is a computer generated statement and does,0
111,0,0,not require signature.,0

# Rearrange the columns

In [9]:

clist = list(df4.columns)
clist = ['Date', 'Narration', 'Credit', 'Debit']
df4 = df4[clist]
df5 = df4.head(105)
df5

,Date,Narration,Credit,Debit
0,01/02/22,ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD,0,"10,000.00"
1,02/02/22,RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N,0,"200,000.00"
2,0,"ETBANK, MUM-HDFCR52022020294165454-FOR O",0,0
3,0,JS,0,0
4,02/02/22,NEFT CR-UTIB0000245-BPR000307051007 DISB,"973,415.00",0
...,...,...,...,...
100,22/02/22,NEFT DR-UBIN0545627-SHAIK MAHABOOB-NETBA,"888,017.50","82,170.00"
101,0,"NK, MUM-N053221843693105-JAN22",0,0
102,22/02/22,NEFT DR-SBIN0021495-SRI VENKATESHWARA GA,"794,554.50","93,463.00"
103,0,"S AGENCY NEW-NETBANK, MUM-N0532218437067",0,0
104,0,24-JAN22,0,0

# Converting into the CSV

In [10]:
df5.to_csv('GenerateTo.csv')

PermissionError: [Errno 13] Permission denied: 'GenerateTo.csv'

In [ ]:
#Trying to join the rows of Narration


# aggregation_functions = {'Narration': 'first', 'Credit': 'first', 'Debit': 'first'}
# df_new = df5.groupby('Date')['Narration'].apply(' '.join).reset_index()
yourdf=df.groupby('Date',as_index=False).agg({'Narration':','.join,'Credit':'first', 'Debit':'first'})
yourdf